<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cproject</display-name>

	<context-param>
		<param-name>flex.class.path</param-name>
		<param-value>/WEB-INF/flex/hotfixes,/WEB-INF/flex/jars</param-value>
	</context-param>
    <filter>
  		<filter-name>ItemCounter</filter-name>
  		<filter-class>com.sickkids.caliper.filters.CommonRoleFilter</filter-class>
  	</filter>
  	<filter-mapping>
    	<filter-name>ItemCounter</filter-name>
    	<url-pattern>/*</url-pattern>
  	</filter-mapping> 
  	<listener>
    	<listener-class>com.sickkids.caliper.service.ContextListener</listener-class>
  	</listener>
	<!-- Http Flex Session attribute and binding listener support -->
	<listener>
		<listener-class>flex.messaging.HttpFlexSession</listener-class>
	</listener>

	<!-- MessageBroker Servlet -->
	<servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>flex.write.path</param-name>
			<param-value>/WEB-INF/flex</param-value>
		</init-param>
<!--  
		<load-on-startup>1</load-on-startup>
-->
	</servlet>
	<servlet>
    	<servlet-name>UploadServlet</servlet-name>
    	<servlet-class>com.sickkids.caliper.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>ActionController</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.ActionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OttawaActionController</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.OttawaActionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VancouverActionController</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.VancouverActionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaskatoonActionController</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.SaskatoonActionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MontrealActionController</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.MontrealActionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HamiltonActionController</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.HamiltonActionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StjohnsActionController</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.StjohnsActionController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.AdminController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>com.sickkids.caliper.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>
	    <servlet-mapping>
    	<servlet-name>UploadServlet</servlet-name>
    	<url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>ActionController</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OttawaActionController</servlet-name>
		<url-pattern>/ottawa</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VancouverActionController</servlet-name>
		<url-pattern>/vancouver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaskatoonActionController</servlet-name>
		<url-pattern>/saskatoon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MontrealActionController</servlet-name>
		<url-pattern>/montreal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HamiltonActionController</servlet-name>
		<url-pattern>/hamilton</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StjohnsActionController</servlet-name>
		<url-pattern>/stjohns</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/csv/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/pdf_file_upload</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>controller</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<!-- for WebSphere deployment, please uncomment -->
	<!--
		<resource-ref>
		<description>Flex Messaging WorkManager</description>
		<res-ref-name>wm/MessagingWorkManager</res-ref-name>
		<res-type>com.ibm.websphere.asynchbeans.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	-->
</web-app>
